*.Assignment
*.BMI
*.BmiAish
*.BMICALC
*.bmiCalculator
*.BmiDara
*.bmiEze
*.bmiFaruq
*.bmiOjette
*.GuessANumber
*.BMI_APP
*.BMI-Calculator
*.guessapp
*.guessing-app
*.GuessingGameApp
*.GUESSJO_GAMETORU
*.guessnumber
*.Numberguess
*.takeHome
*.Testimony

